<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body bgcolor="#E0E0E0">
        
        <h1 style="display: inline;">Face chAInge</h1>

        <div class = "button-box"> 

            <button type="button" class="github" onclick="location.href='https://github.com/Jy0923/2021dna_conference'">
                <img id="button1" src="https://media.vlpt.us/images/youngerjesus/post/af4fcdc2-801c-44b6-99ec-7564509a54c1/Github3.jpg" width="80">
            </button>

            
            <button type="button" class="face-change" onclick="location.href= '/index'">Face chAInge</button>
        </div>
        

    </body>
</html>